@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  /* For WebKit-based browsers (Chrome, Safari) */
  /* ::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

.pageStyle {
  @apply max-w-5xl mx-auto px-4;
}

.shadowed {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
